.event-box {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.2s ease, border 0.3s ease;
  cursor: pointer;
  border: 3px solid transparent; /* Invisible border by default */
}

.event-box:hover {
  transform: scale(1.03);
  border: 3px solid #630031; /* VT Maroon border appears on hover */
}

.event-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.event-name {
  margin: 20px 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #630031; /* VT Maroon */
}