.event-form {
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  color: #67002e;
  text-align: center;
  margin-bottom: -3rem;
}

.event-form label {
  display: block;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: bold;
}

.event-form input,
.event-form textarea {
  width: 97%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.event-form input:focus,
.event-form textarea:focus {
  outline: none;
  border-color: #67002e;
}

.event-form button {
  width: 100%;
  padding: 0.875rem;
  background-color: #67002e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.event-form button:hover {
  background-color: #8b003b;
}