.navbar {
  background-color: #630031; 
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.navbar-title {
  color: white;
  font-size: 2.7rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer; 
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  gap: 10px;
}

.navbar-logo {
  height: 36px;
  width: auto;
  display: block;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-button {
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-button:hover {
  opacity: 0.3;
  color:white;
}

.login-button {
  background-color: #f0f0f0; 
  color: #630031; 
  border: 2px solid #630031; 
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.login-button:hover {
  background-color: #630031; 
  color: white; 
}

.welcome-text {
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.logout-button {
  background-color: #861f41;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #6d193b;
}
