body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #630031; 
  padding: 15px 40px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 1600px;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.navbar-title {
  color: white;
  font-size: 2.9rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer; 
  transition: opacity 0.2s ease;
}

.navbar-title:hover {
  opacity: 0.8; 
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-button {
  background-color: #CF4420;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 30px;
}

.nav-button:hover {
  background-color: #b33a1a;
}

.login-button {
  background-color: #f0f0f0; 
  color: #630031; 
  border: 2px solid #630031; 
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 930px;
}

.login-button:hover {
  background-color: #630031; 
  color: white; 
}

.event-page {
  padding: 60px 60px;
  min-height: 100vh;
}

.page-title {
  margin-bottom: 50px;
  color: #630031; 
  font-size: 2.3rem;
  font-weight: bold;
  text-align: left; 
  margin-left: 30px; 
  margin-top: 55px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;
  max-width: 1400px;
  width: 110%;
  margin: 0; 
  margin-right: 300px;
  margin-left: 100px;
}